* {
   box-sizing: border-box;
}

.container {
   max-width: 1180px;
   width: 100%;
}

h1,
h2,
h3 {
   text-transform: uppercase;
   color: #1E0606;
}

body {
   font-size: 16px;
   line-height: 22px;
   color: #1E0606;
   margin: 0px auto;
   font-family: 'Open Sans', 'Crimson Text', 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
}

.img {
   width: 100%;
   display: block;
}

.button {
   background: black;
   color: #FFFFFF;
   padding: 9px 22px 9px 22px;
   font-weight: 700;
   text-align: center;
   border: none;
   text-transform: uppercase;
   cursor: pointer;
   height: 40px;
}

.button-link {
   background: black;
   color: #FFFFFF;
   padding: 9px 22px 9px 22px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

.undotted {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.list-undotted {
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: center;
   text-transform: uppercase;
}

/* HEADER */

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
   color: #1E0606;
   margin: 50px 0px;
   padding: 0px 0px 79px 0px;
}

.header-logo:hover {
   opacity: 0.4;
}

.header-logo:active {
   opacity: 0.1;
}

.header-list {
   display: flex;
}

.header-item a {
   margin-right: 20px;
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
   text-align: left;
   color: #1E0606;
   text-transform: uppercase;
}

.header-item:hover {
   opacity: 0.4;
}

.header-item:active {
   opacity: 0.1;
}


.header-nav {
   margin: 0 auto 0 60px;
}

.header-contact a {
   font-weight: 700;
   font-size: 14px;
   line-height: 19px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
   color: #1E0606;
   margin-left: 23px;
}

.header-contact:hover {
   opacity: 0.4;
}

.header-contact:active {
   opacity: 0.1;
}

.header-icon:hover {
   opacity: 0.4;
}

.header-icon:active {
   opacity: 0.1;
}

/* FOOTER */

.footer {
   margin: 155px 0px 0px 0px;
   background: #434343;
}

.footer-main {
   display: flex;
}

.footer-undotted {
   font-weight: 400;
}

.footer-undotted {
   list-style-type: none;
   padding: 0;
   margin: 0;
}